<meta http-equiv="refresh" content="5" >

<div class="container">
  <h1>Welcome to Hot Reads!</h1>

  <ol class="link-list" onload="sendData()">
  <% @reads.each do |read| %>
  <div class="link" data-link-url="<%= read[0] %>">

  <li><p><%= read[0] %></li>
  <% end %>
  </ol>
  <img src="http://i.giphy.com/l4KhVp1aGeqzeMDok.gif">
</div>
