<div class="container">
  <h1>Welcome to Hot Reads!</h1>

  <ol>
  <% @reads.each do |read| %>
  <li><%= read[0] %></li>
  <% end %>
  </ol>
  <img src="http://i.giphy.com/l4KhVp1aGeqzeMDok.gif">
</div>
